LinkedIn_USER_NAME=username
LinkedIn_PASSWORD=password
MINIMUM_ACCEPTABLE_PAY=250 # $250,000.00 in USD 
URL="<Please copy and paste the dynamic URL from LinkedIn that includes your pertinent job search filters>"